<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <script src="https://kit.fontawesome.com/3491a934aa.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
    <div id="main-container">
        <div id="heading">
            <h1>TODO App</h1>
        </div>
        <form action="/Add-task" method="POST">
        <div class="descrip">
            <label for="desc">DESCRIPTION</label>
            <input type="text" id="desc" name="description" placeholder="What do you need to do?">
        </div>

        <div id="cate-date">
            <div id="left-Cate">
            <label for="categ">CATEGORY</label>
            <select id="categ" name="category">
                <option value="" selected disabled>--Choose a category--</option>
                <option value="personal" class="opt">personal</option>
                <option value="work" class="opt">work</option>
                <option value="school" class="opt">School</option>
                <option value="cleaning" class="opt">cleaning</option>
                <option value="other" class="opt">other</option>
            </select>
            </div>
            <div id="right-Date">
                <label for="fetch-date">DUE DATE</label>
                <input id="fetch-date" type="date" name="date" >
            </div>
        </div>

        <div class="btn-container" id="firstB">
            <button type="submit" id="add-T" width="40%"><i class="fa-sharp fa-solid fa-plus"></i>&ensp;ADD TASK</button>
        </div>
        </form>
        <form action="/delete-task" method="GET">
            <div class="btn-container" id="secB">
               <button type="submit"><i class="fa-solid fa-trash"></i>&ensp;DELETE TASKS</button>
            </div>
            <div class="listItem">
            <ul>
                <% for(let i of task_list) {%>
                    <li>
                        <div class="single-Task">
                            <input type="checkbox"  width="1rem" name="check"  value = <%= i._id %> id =`<%=i._id %>`>
                            <label class="task-container" for=`<%= i._id %>` >
                            <div class="desAndDate">
                                <span><%= i.description %></span>
                                <span class="makeItSmall"><i class="fa-solid fa-calendar-days"></i>&ensp;<%=  i.date %></span>
                            </div>
                            <div class="forCate">
                                <% if (i.category == 'personal'){%>
                                <div class="innerCard perCard">

                                    <span><%= i.category%></span>
                                </div>
                                <%}%>
                                <% if (i.category == 'work'){%>
                                    <div class="innerCard workCard">
    
                                        <span><%= i.category%></span>
                                    </div>
                                    <%}%>
                                    <% if (i.category == 'school'){%>
                                        <div class="innerCard schCard">
        
                                            <span><%= i.category%></span>
                                        </div>
                                        <%}%>
                                        <% if (i.category == 'cleaning'){%>
                                            <div class="innerCard cleanCard">
            
                                                <span><%= i.category%></span>
                                            </div>
                                            <%}%>
                                            <% if (i.category == 'other'){%>
                                                <div class="innerCard othCard">
                
                                                    <span><%= i.category%></span>
                                                </div>
                                                <%}%>
                            </div>
                            </label>
                        </div>
                        <hr>
                    </li>
                    <%}%>
            </ul>
        </div>
        </form>
        

    </div>
</body>
</html>